Security labels (RFC 2634)

This feature is used to add security information in a message which will
 be used to handle authorizations and access rights.

 It implements the security service "security labels" defined in RFC 2634
 Enhanced Security Services for S/MIME http://tools.ietf.org/html/rfc2634 .
 A security label is a set of security information regarding the
 sensitivity of the content that is protected by S/MIME encapsulation.

 A security label is composed of:

     Security Policy Identifier
     Security Classification (optional)
     Privacy Mark (optional)
     Security Categories (optional)


 Additional resources:

     Technical Documentation
     RFC 2634 - section 3 - Enhanced Security Services for S/MIME
     RFC 3114 - Implementing Company Classification Policy with the S/MIME
 Security Label http://tools.ietf.org/html/rfc3114
     RFC 4134 - Examples of S/MIME Messages
 http://tools.ietf.org/html/rfc4134
     Screencast http://milimail.adullact.net/media/Security_Labels_-
 _Usage.swf
     Mozilla bug #598282
 https://bugzilla.mozilla.org/show_bug.cgi?id=598282

Signed receipts would be useful too: https://tools.ietf.org/html/rfc2634#section-2

See also these RFCs: https://tools.ietf.org/html/rfc3114 and https://tools.ietf.org/html/rfc4134